# Ignore the temporary file directory in the data folder
assets/temp

# Ignore vscode settings folder
/.vscode

# Ignore .backup files
*.backup

# Ignore output gcode files
wip/cura/GCODE_Output

# Ignore input gcode files
wip/cura/test